// Importar todos los parciales
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/global' as *;
@use 'vendors/bootstrap-overrides' as *;
@use 'layout/header' as *;
@use 'layout/hero' as *;
@use 'components/products' as *;
@use 'components/features' as *;
@use 'components/testimonials' as *;
@use 'components/newsletter' as *;
@use 'layout/footer' as *;
@use 'pages/products-page' as *;
@use 'pages/categories-page' as *; 
@use 'pages/offers-page' as *;
@use 'pages/contact-page' as *;
@use 'components/map-section' as *;


// Estilos adicionales
.btn--accent {
  background: $accent;
  color: $dark;
  
  &:hover {
    background: darken($accent, 5%);
    color: $dark;
  }
}

.btn--outline {
  background: transparent;
  border: 2px solid $primary;
  color: $primary;
  
  &:hover {
    background: $primary;
    color: white;
  }
}

.btn--transparent {
  color: white;
  background: transparent;
  border: none;
  
  &:hover {
    background: rgba($dark, 0.2);
  }
}

