@use 'variables' as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` no existe en `$breakpoints` map.";
  }
}

@mixin card-hover {
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}